<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>


  <connectionStrings>
    <add name="cn" connectionString="Data Source=169.254.92.252; Initial Catalog=rayanpro_EBS; User Id=rayanpro_EBS_Admin; Password=P@hn1395;"
      providerName="System.Data.SqlClient" />
    <add name="cndatasource" connectionString="169.254.92.252" providerName="System.Data.SqlClient" />
    <add name="cninitialcatalog" connectionString="rayanpro_EBS"
      providerName="System.Data.SqlClient" />
    <add name="cnuserid" connectionString="rayanpro_EBS_Admin" providerName="System.Data.SqlClient" />
    <add name="cnpassword" connectionString="P@hn1395" providerName="System.Data.SqlClient" />
    <add name="ftpuri" connectionString="ftp://169.254.92.252/" providerName="System.Data.SqlClient" />
    <add name="ftpusername" connectionString="nima" providerName="System.Data.SqlClient" />
    <add name="ftppassword" connectionString="H-0sein" providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>